---
import BaseLayout from "@layouts/BaseLayout.astro";
import Countdown from "@components/Countdown.astro";
import { Image } from "astro:assets";
// example local image
import Logo from "@assets/logo.png";
import Avatar from "@assets/avatar.png";
const pageTitle = "Home Page";
---

<BaseLayout>
  <div class="logo">
    <Image alt="tazmosis" src={Logo} />
  </div>

  <div class="hbld">
    <Countdown />
  </div>
</BaseLayout>
