---

---

<div class="nav-links" style="float:left">
  <a href="/" data-astro-reload>tazmosis.tk</a>
</div>
<div class="nav-links">
  <a href="/" data-astro-reload>home</a>
  <a href="/about/">about</a>
  <a href="/blog/">blog</a>
  <a href="/tags/">tags</a>
</div>
